<%- include('../public/partials/header', {title: "Index"}) %>

<div class="container">
  <h1 class="animated fadeInLeftBig slow delay-0.10s">
      <div class="card">
          <div class="card-content">
            <p class="title">
             This is a temporary frontend page for the Cyci Uploader
            </p>
            <p class="subtitle">
              ~ Cyci Admins
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="https://cyci.org">Main page</a>
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                <a href="https://mail.cyci.org">Mail Server</a>
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                <a href="https://discord.gg/8sQxQuqbc3">Discord</a>
              </span>
            </p>
          </footer>
        </div>
  </h1>
</div>
</div>

        
<%- include('../public/partials/footer') -%>