<%- include('../public/partials/header', {title: "Index"}) %>

<div class="container">
  <h1 class="animated fadeInLeftBig slow delay-0.10s">
    <div id="centerAll">
      PLACEHOLDER
    </div>
  </h1>
</div>

        
<%- include('../public/partials/footer') -%>