<%- include('../public/partials/header', {title: "Shortener" }) %>
<script type="text/javascript" src="../js/fixPostingFireFoxChrome.js"></script>

  <div class="container">
    <div></div>
    <form class="box">
      <div class="field">
        <label class="label">URL Shortener</label>
        <div class="control">
          <input class="input is-dark" required type="url" placeholder="URL Here" id="inputURL">
          <input class="input is-dark" required type="password" placeholder="API token here" id="inputToken">
          <button class="btn is-info is-rounded" id="buttonSubmitID">Shrink This!</button>
        </div>
      </div>
  </div>
  </form>
  </div>

  <%- include('../public/partials/footer') -%>