<%- include('../public/partials/header', {title: "Shortener" }) %>

  <div class="container">
    <div></div>
    <form class="box">
      <div class="field">
        <label class="label">URL Shortener</label>
        <div class="control">
          <input class="input is-dark" required type="url" placeholder="URL Here" id="inputURL" disabled>
          <input class="input is-dark" required type="password" placeholder="API token here" id="inputToken" disabled>
          <button class="button is-info is-rounded" id="buttonSubmitID" disabled>Shrink This!</button> <label class="tag is-danger">TEMP disabled!</label>
        </div>
      </div>
  </div>
  </form>
  </div>
  <!-- <script type="text/javascript" src="../js/fixPostingFireFoxChrome.js"></script> -->
  <%- include('../public/partials/footer') -%>