<!DOCTYPE html>
<html lang="en" style="margin:0;padding:0;height:100vh;overflow:hidden;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta property="og:site_name" content="Cyci CDN Center">
    <meta property="og:description" content="Cyci's personal CDN Center">
    <meta name="theme-color" content="#7289DA">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cyci CDN" />
    <meta property="og:image" content="https://cdn.cyci.rocks/576688747481743/22958_Showcase_Logorainbow.png" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel='icon' href='https://cdn.cyci.rocks/576688747481743/31453_LOGOONLY_Showcase_LogoRainbow.svg'>
    <link rel="stylesheet" href="https://cyci.rocks/main.css" type="text/css"/>
    <script src="../js/fixMobile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.18.12/dist/tsparticles.min.js"></script>

    <script>
      tsParticles
      .loadJSON('tsparticles','./partials/particles.json')
      .then((container) => {
      console.log("callback - tsparticles config loaded");
      })
        .catch((error) => {
            console.error(error);
        });
    </script>

    <title>
      <%= title %>  | Cyci Uploader
    </title>
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <a role="button" class="navbar-burger" data-target="navbarMain" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
        <div id="navbarMain" class="navbar-menu">
          <div class="navbar-brand">
            
          </div>
            <div class="navbar-start">
              <a class="<%= title == 'Index' ? 'navbar-item is-link center is-active' : 'navbar-item center' %>" href="/">
                Home
              </a>
              <a id="header-logo" href="https://cyci.rocks"></a>
              <a class="<%= title == 'Shortener' ? 'navbar-item center is-active' : 'navbar-item center' %>" href="/shorten" style="text-decoration: none;">
                Shortener
              </a>
            </div>
        </div>
    </nav>

    <div id="tsparticles"></div>
