<!-- <% //if (userProfile == undefined) { %>  -->
<%- include('./partials/header', {title: "Index", user: user}) %>
<section class="py-20"><div class="container px-4 mx-auto">
    <div class="flex flex-wrap -mx-8">
      <div class="w-full lg:w-1/2 px-8">
        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
          <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">Here at cyci.rocks, we arent trying to reinvent the wheel</h2>
          <p class="mb-8 leading-loose text-blueGray-400">We are only trying to make it better for the end user!</p>
          <a class="inline-block text-xs py-4 px-8 text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="#">Start now!</a>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-8">
        <ul class="space-y-12"><li class="flex -mx-4">
          <div class="px-4">
            <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">1</span>
          </div>
          <div class="px-4">
            <h3 class="my-4 text-xl font-semibold">Fast upload's</h3>
            <p class="text-blueGray-400 leading-loose">Our servers are located within the USA and have up to  a 1TB link to the data centers!</p>
          </div>
          </li>
          <li class="flex -mx-4">
            <div class="px-4">
              <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">2</span>
            </div>
            <div class="px-4">
              <h3 class="my-4 text-xl font-semibold">Access anywhere</h3>
              <p class="text-blueGray-400 leading-loose">Just simply log in with your discord account and you're good to go!</p>
            </div>
          </li>
          <li class="flex -mx-4">
            <div class="px-4">
              <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">3</span>
            </div>
            <div class="px-4">
              <h3 class="my-4 text-xl font-semibold">Flexible Softwares</h3>
              <p class="text-blueGray-400 leading-loose">We support a number of devices and applications</p>
            </div>
          </li>
        </ul></div>
    </div>
  </section>
<%- include('./partials/footer', {disableNotif: false}) %>   